body {
  font-family: 'open sans', sans-serif;
  font-size: 16px;
}

.margin-left-20 {
  margin-left: 20px;
}

.margin-20 {
  margin: 20px;
}

.input {
  padding: 6px;
  border-radius: 10px;
  width: 50%;
  border: 1px solid rgb(204, 204, 204);
  height: 50px;
  font-size: 18px;
}

.table {
  display: table;
  border-collapse: collapse;
  width: 100%;
  box-sizing: border-box;
  text-indent: initial;

  .table-body {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
    .table-row {
      display: flex;
      vertical-align: middle;
      border-color: inherit;
      line-height: 2;
      border: 1px solid rgb(204, 204, 204);
      border-top: none;
      .col-3 {
        width: 25% !important;
      }
      .table-head-data {
        color: #fff;
        text-align: left;
        padding-left: 10px;
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #008cba;
        color: white;
      }
      .table-body-data {
        padding: 0.5em;
        border-bottom: 1px solid rgb(204, 204, 204);
      }
  
    }
    .table-row:nth-child(2n) {
      background: rgb(238, 238, 238);
    }

    .table-row:hover {
      background-color: rgb(150, 150, 150);
      font-weight: bold;
    }

    [class*="sort-desc-"] {
      box-shadow: none !important;

      &:before {
        content: "▼";
        float: left;
        margin-right: 5px;
      }
    }

    [class*="sort-asc-"] {
      box-shadow: none !important;

      &:before {
        content: "▲";
        float: left;
        margin-right: 5px;
      }
    }
  }
}

.loading {
  background: url(../public/oval.svg) no-repeat right center;
  margin-right: 10px;
}

button.btn {
  background-color: #008cba;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin-left: 20px;
  width: auto;
}

.btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  ;
}

label {
  font-size: 24px;
  top: 10%;
}

/*pagination*/ 
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0;
}

.paginationItem {
  background: #fff;
  border: 2px solid #666;
  padding: 10px 15px;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  position: relative;
  margin: 0 5px;
  cursor: pointer;
}

.paginationItem span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prev,
.next {
  background: #fff;
  border: none;
  padding: 10px;
  color: blue;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  margin: 0 10px;
  cursor: pointer;
}

.paginationItem.active {
  border: 1px solid #888;
  color: #888;
  pointer-events: none;
}

.prev.disabled,
.next.disabled {
  pointer-events: none;
  box-shadow: none;
  color: #999;
}